.itemTable table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  empty-cells: show;
}
.itemTable table thead {
  background-color: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#dadada));
  background: -moz-linear-gradient(top, #f8f8f8, #dadada);
}
.itemTable table td,
.itemTable table th {
  border: 1px solid #c0c0c0;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.itemTable table td input {
  background-color: transparent;
}
.itemTable table td input[type='text'] {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.itemTable table td input[type='text']:foucs {
  outline: 1px solid #b94a48;
}
.itemTable table .odd {
  background-color: #f7f7f7;
}
.itemTable table .even {
  background-color: #eff2ff;
}
