.itemTable
	table
		table-layout fixed
		border-collapse collapse
		width 100%
		empty-cells show
		thead
			background-color #eee
			background -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#dadada))
			background -moz-linear-gradient(top, #f8f8f8, #dadada)
		td, th
			border 1px solid #c0c0c0
			height 35px
			line-height @height
			text-align center
		td input
			background-color transparent
			&[type='text']
				text-align center
				width 100%
				height 100%
				border none
				outline none
				&:foucs
					outline 1px solid #b94a48
		.odd
			background-color #f7f7f7
		.even
			background-color #eff2ff
