.sellItemTable
	.op
		width 40px
	.count, .price, .size
		width 80px
	.auxiliaryCount, .priceTotal
		width 120px

	.remove
		background url(../images/remove.png) no-repeat center
		display block
		height 100%
		text-decoration none
		color gray